*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}
.card-container{
    width: 60rem;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
}
.car-type{
    width: 20rem;
    height: auto;
}
#sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.625rem 0 0 0.625rem;
}
#suvs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.625rem 0.625rem 0;
}
.about-the-car{
    margin: 3.125rem;
    margin-right: 0;

}
.icon{
    margin-bottom: 1.5rem;
}
h1{
    color: hsl(0, 0%, 95%);
    margin-bottom: 1.5rem;
    font-family: 'Big Shoulders Display', cursive;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 6rem;
    line-height: 1.5;
    width: 85%;
}
.car-type a{
    padding: 0.8125rem 1.65rem;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
}
#sedans-link{
    color: hsl(31, 77%, 52%);
}
#sedans-link:hover{
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsl(0, 0%, 95%);
}
#suvs-link{
    color: hsl(184, 100%, 22%);
}
#suvs-link:hover{
    cursor: pointer;
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsl(0, 0%, 95%);
}
#luxury-link{
    color: hsl(179, 100%, 13%);
}
#luxury-link:hover{
    cursor: pointer;
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsl(0, 0%, 95%);
}
footer{
    width: 100%;
}
.attribution{ 
    font-size: 0.975rem; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(31, 77%, 52%); 
}


@media screen and (max-width: 420px){
    body{
        flex-flow: column nowrap;
        justify-content: center;
        font-size: 1.3rem;
    }
    .card-container{
        flex-flow: column nowrap;
        width: 10rem;
        margin-left: -160px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .car-type{
        width: 19rem;
    }
    #sedans{
        border-radius: 0.625rem 0.625rem 0rem 0rem;
    }
    #luxury{
        border-radius: 0rem 0rem 0.625rem 0.625rem ;
    }
    p{
        line-height: 2rem;
    }
   .attribution{
        font-size: 1.2rem;
    }
}